
<strong> Body: </strong> <br><br>
Вопрос: <%= @question.body%>
<br><br>

<h2> Answers </h2>
<%= link_to 'New answer', new_question_answer_path(@question)%>

<ol>
    <%= render @question.answers %>
</ol>


<%= link_to 'Edit question', edit_question_path(@question)%>

<%= link_to 'New question', "/tests/#{@question.test.id}/questions/new" %> 

<%= link_to 'List of questions', "/tests/#{@question.test.id}" %>

