<p>
<%= link_to "Список тестов", tests_path %>
</p>

<h4> Таблица всех существующих бэйджей </h4>
<table class="table">
  <tr>
    <th> Автор </th>
    <th> Название </th>
    <th> Награда </th>
    <th> За что </th>
  </tr>

    <%= render @badges %>
    
</table>

<br>

<h4> Ваши достижения: </h4>
<table class="table">
  <tr>
    <th> Название </th>
    <th> Награда </th>
    <th> За что </th>
    <th> Когда получен </th>
  </tr>

 
  <% @badge_assign.each do |badge_assign| %>
  <% if badge_assign.user == current_user %>
  <tr>
    <td><%=badge_assign.badge.title%></td>
    <td><%=badge_assign.badge.reward_link%></td>
    <td><%=badge_assign.badge.rule.title%></td>
    <td><%=badge_assign.created_at%></td>
  </tr>
   <% end %>
   <% end %>

</table>