<h3> <%= t('.header', title: @test_passage.test.title) %> </h3>

<div id="myProgressResult">
  <div id="myBarResult"></div>
</div>

<%= content_tag :div, "Всего вопросов: #{@count_of_questions}",
                class: 'questions',
                data: {sum_questions: @count_of_questions} %>

<%= content_tag :div, "Количество правильных ответов: #{@correct_answers}", 
                class: 'answers',
                data: {correct_answers: @correct_answers} %>

  <div style='display: inline-flex'>
    <div>
        Процент успеха:&nbsp
    </div>  
    <div class= <%= @color_for_message %> >
      <%= @persent_of_success  %> %
    </div>
    </div>
    <br>
    <div class= <%= @color_for_message %>>
      <%= @check_test  %>
    </div>
  
<br>

<%= link_to 'List of tests', current_user.admin? ? admin_tests_path : tests_path %>

