<h1> <%= t('.header', title: @test_passage.test.title) %> </h1>

Всего вопросов:<%= @count_of_questions%> 
<br>
Количество правильных ответов: <%= @correct_answers%>
<br>
  <div style='display: inline-flex'>
    <div>
        Процент успеха:&nbsp
    </div>  
    <div class= <%= @color_for_message %> >
      <%= @persent_of_success  %> %
    </div>
    </div>
    <br>
    <div class= <%= @color_for_message %>>
      <%= @check_test  %>
    </div>
  
<br>

<%= link_to 'List of tests', current_user.admin? ? admin_tests_path : tests_path %>

