<h4> <%= t('.header_test', title: @test_passage.test.title) %> </h4>

<div id="myProgress">
  <div id="myBar"></div>
</div>

<%= content_tag :span, "Это #{@test_passage.number_of_question} вопрос из #{@test_passage.test.questions.count}",
    class: 'question', 
    data: {sum: @test_passage.test.questions.count, num: @test_passage.number_of_question} %>

<p>
    <b><%= @test_passage.current_question.body %></b>
</p>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
    <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false  do |b| %>
      <p>
        <%= b.check_box id: "answer_ids_#{b.object.id}"%>
        <%= b.label%>
      </p>
    <% end %>

    <p> <%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post%>
    <p> <%= form.submit 'Next', class: "btn btn-primary"%> </p>
<% end %>
