<%= form_with(model: [:admin, @test, @question], local: true) do |form| %>

<%= render 'shared/errors', resource: @question%>

        <p>
            <%= form.label :body %> <br>
            <%= form.text_area :body, id: :question_body , rows: 7, cols: 60%>
        </p>

        <p>
            <%= form.label :test_id%> <br>
            <%= form.collection_select(:test_id, Category.all, :id, :title, promt: true) %>
        </p>

        <%= form.submit%>
<% end %>
