<h3><%= t('.index_title') %> </h3>

<p>
  <%= link_to "#{t('.new_test')}", new_admin_test_path %>
</p>

<table class="table">
  <tr>
    <th><%= t('.category') %> </th>
    <th><%= t('.test_id') %></th>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.number_of_questions') %></th>
    <th colspan="4"><%= t('.actions') %></th>
  </tr>

  <%= render @tests %>
</table>