<tr align="center">
  <td><%= Category.where(id: test.category_id)[0].title %></td>
  <td><%= test.id %></td>
  <td><%= test.title %></td>
  <td><%= test_level(test) %></td>
  <td><%= test.questions.count %></td>
  
  <td><%= button_to 'Start', start_test_path(test) %></td> 
</tr>