<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p class="nav user"> <%= t('.welcome') %><b> <%= current_user.email%> </b> <%= t('.guru') %> </p>
      <p class="nav user"> <%= link_to "#{t('.log_out')}", destroy_user_session_path, method: :delete%>
    <% else%>  
      <p class="nav user"> <%= link_to "#{t('.log_in')}", new_user_session_path%>  </p>
      <p class="nav user"> <%= link_to "#{t('.registration')}", new_user_registration_path%> </p>
    <% end %>

    <%=render 'shared/flash'%>

    <%= yield %>
    <%= render 'shared/footer'%>
  </body>
</html>
