<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<<<<<<< HEAD
    <title>TestGuru</title>
=======
    <title>Admin Panel | TestGuru</title>
>>>>>>> 64a4c6922a6c5fde3ad32dae046973fe7e0c4d19
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
    <%= render 'shared/nav'%>

    <div class="container">
      <%=render 'shared/flash'%>
=======
    <%=render 'shared/nav'%>
    <div class="container">
        <%=render 'shared/flash'%>
>>>>>>> 64a4c6922a6c5fde3ad32dae046973fe7e0c4d19
      <%= yield %>
    </div>
    <%= render 'shared/footer'%>
  </body>
</html>
